.kanBanDnD {
  display: flex;
  flex-direction: column;

  .header {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0 0 10px;

    button {
      padding: 3px 15px;
      font-size: 13px;
      font-weight: 600;
      border: 1px rgb(179, 179, 179) solid;
    }
    .active {
      background-color: rgb(2, 179, 69);
      color: white;
    }

    .header-left,
    .header-right {
      display: flex;
      gap: 5px;

      .header-right-searchBar {
        font-size: 14px;
        font-weight: 500;
        border: none;
        box-shadow: 0 2px 2px rgb(180, 180, 180);
        height: 30px;
      }
      .search-icon {
        position: relative;
        right: 30px;
        font-size: larger;
        margin: 5px -10px 0 0;
      }
      .header-right-rangeCount {
        padding: 5px 0;
        font-weight: 500;
      }
    }
  }
}
